In [42]:
import pandas as pd
whether_data = {
    "day":['1/1/2020','2/1/2020','3/1/2020','4/1/2020','5/1/2020','6/1/2020'],
    "temperature":[32,35,26,30,31,36],
    "windspeed":[6,7,2,7,4,2],
    "event":['Rain','sunny','snow','Rain','sunny','sunny']
}
df = pd.DataFrame(whether_data)
df

        day  temperature  windspeed  event
0  1/1/2020           32          6   Rain
1  2/1/2020           35          7  sunny
2  3/1/2020           26          2   snow
3  4/1/2020           30          7   Rain
4  5/1/2020           31          4  sunny
5  6/1/2020           36          2  sunny

In [12]:
rows, columns = df.shape

In [14]:
columns

4

In [17]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2020           32          6   Rain
1  2/1/2020           35          7  sunny
2  3/1/2020           26          2   snow

In [20]:
df.tail(2)

        day  temperature  windspeed  event
4  5/1/2020           31          4  sunny
5  6/1/2020           35          2  sunny

In [21]:
df[2:5]

        day  temperature  windspeed  event
2  3/1/2020           26          2   snow
3  4/1/2020           30          7   Rain
4  5/1/2020           31          4  sunny

In [22]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [23]:
df.day

0    1/1/2020
1    2/1/2020
2    3/1/2020
3    4/1/2020
4    5/1/2020
5    6/1/2020
Name: day, dtype: object

In [24]:
df.event

0     Rain
1    sunny
2     snow
3     Rain
4    sunny
5    sunny
Name: event, dtype: object

In [25]:
type(df['event'])

pandas.core.series.Series

In [30]:
df[["event","day","temperature"]]

   event       day  temperature
0   Rain  1/1/2020           32
1  sunny  2/1/2020           35
2   snow  3/1/2020           26
3   Rain  4/1/2020           30
4  sunny  5/1/2020           31
5  sunny  6/1/2020           35

In [31]:
df['temperature'].max()

35

In [35]:
df['temperature'].mean()

31.5

In [43]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     31.666667   4.666667
std       3.614784   2.338090
min      26.000000   2.000000
25%      30.250000   2.500000
50%      31.500000   5.000000
75%      34.250000   6.750000
max      36.000000   7.000000

In [44]:
df[["day","temperature"]][df.temperature==df['temperature'].max()]

        day  temperature
5  6/1/2020           36

In [46]:
df.set_index('day', inplace=True)

In [47]:
df

          temperature  windspeed  event
day
1/1/2020           32          6   Rain
2/1/2020           35          7  sunny
3/1/2020           26          2   snow
4/1/2020           30          7   Rain
5/1/2020           31          4  sunny
6/1/2020           36          2  sunny

In [ ]:
df.reset_index(inplace=True)

: